@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
}

h1 {
    text-align: center;
}

.strong {
    font-weight: bold;
}

.comment {
    color: purple;
}
.pic-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.pic {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}

.pic-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

// .caption {
//   padding: 24px 24px;
//   font-size: 15px;
//   line-height: 18px;
//
// }

.pic-bottom {
  .username, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .username {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  // .username, .caption-content {
  //   display: inline;
  // }
  #comment {
    margin-top: 7px;
    .username {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}
